@model IEnumerable<SelectListItem>

@foreach (var schoolClass in Model)
{
    if (schoolClass.Selected)
    {

        <option value="@schoolClass.Value" selected>@schoolClass.Text</option>
    }
    else
    {
        <option value="@schoolClass.Value">@schoolClass.Text</option>
    }
}
