<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Profile Activation</title>
    <style>
        h2{
            text-align: center;
            color: darkslategrey;
        }
        p{
            font-size: 18px;
             color: darkslategrey;
        }
        span{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <main>
        <h2>Instructions how to activate your student profile in our Judge System</h2>
        <p>
            Your teachers send you activation key to provided by you email and with this activation key you can 
            activate student profile in our judge system. In this way you will have more rights than other users.
        </p>
        <p>This is your activation key: <span>@{activationKey}</span></p>
    </main>
</body>
</html>
