<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Profile Activation</title>
    <style>
        p {
            font-size: 18px;
        }

        span {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <main>
        <h2>Instructions how to activate your student profile in our Judge System</h2>
        <p>
            You can access the system from this link: <a href="https://code-judgement.azurewebsites.net/">https://code-judgement.azurewebsites.net/</a>
        </p>
        <p>This is your activation key: <span>@{activationKey}</span></p>
        <p>First create an account <a href="https://code-judgement.azurewebsites.net/Identity/Account/Register">here</a> before activating your student profile.</p>
        <p>
            To activate your student profile click on this link: <a href="https://code-judgement.azurewebsites.net/Student/ActivateStudentProfile">Activate student profile</a>
        </p>
        <p>
            Then paste your activation key in the input field and click <span>Activate</span> button.
        </p>
    </main>
</body>
</html>
