@{
    IEnumerable<SelectListItem> lessonTypes = Utility.GetSelectListItems<LessonType>();
}

@foreach (var lessonType in lessonTypes)
{
    <option value="@lessonType.Value">@lessonType.Text</option>
}
