@model IEnumerable<PreviousContestViewModel>

@foreach (var contest in Model)
{

}

@*<li class="dropdown-item">
	<a asp-area="" asp-controller="Course" asp-action="All" class="dropdown-item">All</a>
</li>*@
