@model ProblemInputModel

@{
	ViewData["Title"] = "Problem Create";
    IEnumerable<SelectListItem> submissionTypes = Utility.GetFormatedSelectListItems<SubmissionType>();
}

<h1>@ViewData["Title"]</h1>
<div class="row">
	<div class="col-md-4" >
		<section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPoints"></label>
                    <input asp-for="MaxPoints" class="form-control" />
                    <span asp-validation-for="MaxPoints" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllowedMemoryInMegaBytes"></label>
                    <input asp-for="AllowedMemoryInMegaBytes" class="form-control" />
                    <span asp-validation-for="AllowedMemoryInMegaBytes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllowedTimeInMilliseconds"></label>
                    <input asp-for="AllowedTimeInMilliseconds" class="form-control" />
                    <span asp-validation-for="AllowedTimeInMilliseconds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubmissionType"></label>
                    <select asp-for="SubmissionType" class="form-control" asp-items="submissionTypes"></select>
                    <span asp-validation-for="SubmissionType" class="text-danger"></span>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" asp-for="IsExtraTask" class="custom-control-input">
                    <label class="custom-control-label" asp-for="IsExtraTask">Extra Task</label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
		</section>
	</div>
</div>
