@inject IStringLocalizer<SharedResources> SharedLocalizer
@model ProblemInputModel

@{
    ViewData["Title"] = SharedLocalizer["Problem Create"];
    IEnumerable<SelectListItem> submissionTypes = Utility.GetFormatedSelectListItems<SubmissionType>();
    IEnumerable<SelectListItem> testingStrategies = Utility.GetSelectListItems<TestingStrategy>(true);
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderBy"></label>
                    <input asp-for="OrderBy" class="form-control" />
                    <span asp-validation-for="OrderBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPoints"></label>
                    <input asp-for="MaxPoints" class="form-control" />
                    <span asp-validation-for="MaxPoints" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllowedMemoryInMegaBytes"></label>
                    <input asp-for="AllowedMemoryInMegaBytes" class="form-control" />
                    <span asp-validation-for="AllowedMemoryInMegaBytes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllowedTimeInMilliseconds"></label>
                    <input asp-for="AllowedTimeInMilliseconds" class="form-control" />
                    <span asp-validation-for="AllowedTimeInMilliseconds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeIntervalBetweenSubmissionInSeconds"></label>
                    <input asp-for="TimeIntervalBetweenSubmissionInSeconds" class="form-control" />
                    <span asp-validation-for="TimeIntervalBetweenSubmissionInSeconds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllowedMinCodeDifferenceInPercentage"></label>
                    <input asp-for="AllowedMinCodeDifferenceInPercentage" class="form-control" />
                    <span class="text-info">Set it to zero if you do not want to check for code similarity.</span>
                    <span asp-validation-for="AllowedMinCodeDifferenceInPercentage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubmissionType"></label>
                    <select asp-for="SubmissionType" class="form-control" asp-items="submissionTypes"></select>
                    <span asp-validation-for="SubmissionType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TestingStrategy"></label>
                    <select asp-for="TestingStrategy" class="form-control" asp-items="testingStrategies"></select>
                    <span asp-validation-for="TestingStrategy" class="text-danger"></span>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" asp-for="IsExtraTask" class="custom-control-input">
                    <label class="custom-control-label" asp-for="IsExtraTask">@SharedLocalizer["Extra Task"]</label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@SharedLocalizer["Create"]</button>
                </div>
            </form>
        </section>
    </div>
</div>
