@model PracticeSubmissionsViewModel

<div class="border p-3 bg-light mb-3">
    <div class="ul-holder mt-0">
        <vc:lesson-problems lesson-id="@Model.LessonId" url="@Model.UrlPlaceholder"></vc:lesson-problems>
    </div>

    <h3 class="mt-3 text-secondary">@Model.ProblemName</h3>

    <partial name="SubmissionsList" model="Model.Submissions"/>
</div>

<partial name="_ServerSidePaginationPartial" model="Model.PaginationData" />
