/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*My custom css*/
.dropdown > a#dropdownMenuLink {
    background: none;
    color: black;
    border: none;
    outline: none !important;
    vertical-align: bottom;
    padding-top: 10px;
}

    .dropdown > a#dropdownMenuLink:hover {
        border: none;
    }

.center {
    margin: 0 auto;
}

/*drop down menu css*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.hidden-element {
    display: none;
}

.active-element {
    display: block;
}

.rotate-down {
    transform: rotate(-90deg);
}

.rotate {
    padding-right: 10px;
}

.borderless > li {
    border: none;
    padding-top: 5px;
    padding-bottom: 2px;
}

.all-courses table tr td {
    padding: 5px;
}

.admin-buttons-holder > a {
    margin: 0px 10px;
}

.a-holder > a {
    color: black;
}

.ul-holder {
    margin: 20px 0;
}

    .ul-holder ul li {
        padding: 7px 15px;
    }

/*Notifications styling*/
.notification {
    font-size: 20px;
    color: #ffffff;
    text-align: right;
    display: none;
    position: absolute;
    top: 35px;
    right: 5px;
}

    .notification > span {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        display: block;
        text-align: center;
    }


#infoBox > span {
    background: #393;
}

#errorBox > span {
    background: #F50;
}

/*Listing all tests*/
.test-holder div {
    width: 45%;
    display: inline-block;
}

    .test-holder div textarea {
        width: 95%;
        height: 100px;
    }

.test-holder p {
    margin-bottom: 5px;
}

/*input type file*/

.file-upload-wrapper {
    color: #4daf7c;
    height: 40px;
    position: relative;
    width: 100%;
}
.file-upload-wrapper:after
{
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 7px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}

.file-upload-wrapper:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 40px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    padding: 9px 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

/*input[type=file] {
    width: 100px;
    height: 50px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

    input[type = file] + label {
        color: white;
        background-color: green;
        display: inline-block;
        padding: 10px 15px;
        margin: 5px 0;
        border-radius: 5px;
    }

        input[type = file]:focus + label,
        input[type = file] + label:hover {
            background-color: red;
        }*/


/*Code holder*/
.CodeMirror-scroll {
    background-color: #c4e4d1;
}

.code-wrapper .CodeMirror-gutters {
    background-color: #deeadb
}

.active-problem {
    background-color: #ecdcdc;
}

.problem-name{
    cursor: pointer;
}

.button-holder {
    margin-top: 20px;
}

.navbar {
    background-color: #442b6b;
}

#submissions-holder i{
    font-size: 18px;
    margin-left: 3px;
}

.current-page {
    background-color: #c4e4d1;
}

.no-width-height{
    width: 0;
    height: 0;
}

.height-500{
    height: 500px;
}

#profile-dropdown {
    left: auto !important;
    right: 0px;
}

#profile-icon{
    color: orange;
    font-size: 30px;
}

#student-profile {
    font-size: 50px;
    color: orange;
}

.font-size-20{
    font-size: 20px;
}
