@model PaginationData

@{
    int startPageIndex = Math.Max(1, Model.CurrentPage - GlobalConstants.PaginationOffset);
    int endPageIndex = Math.Min(Model.NumberOfPages, Model.CurrentPage + GlobalConstants.PaginationOffset);
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a id="previous" class="page-link" href="" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        @for (int i = startPageIndex; i <= endPageIndex; i++)
        {
            <li class="page-item"><a class="page-link page-number" href="">@i</a></li>
        }

        <li class="page-item">
            <a id="next" class="page-link" href="" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>