@using JudgeSystem.Common
@using JudgeSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

	<ul class="navbar-nav">
		@if (this.SignInManager.IsSignedIn(this.User))
		{
			<partial name="_ProfilePartial" />
		}
		else
		{
			<li class="nav-item">
				<a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
			</li>
		}
	</ul>
