@model EntityNotFoundErrorViewModel
<div class="d-flex justify-content-center mt-5">
    <img src="~/images/error-occured.jpg" class="w-75" alt="Error cool image" />
</div>
<h1 class="text-center text-danger my-5">@Model.Message</h1>
