@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@model ImportUsersInputModel

@{
    ViewData["Title"] = Localizer["Import users"];
}


<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="file-upload-wrapper my-4" data-text="@SharedLocalizer["Select your file!"]">
                        <input asp-for="File" type="file" class="file-upload-field form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="import-button">@SharedLocalizer["Import"]</button>
                </div>
            </form>
        </section>
    </div>
</div>
<div class="d-block">
    <p>You should upload valid json file in the following format:</p>
    <pre>
        <code>
        [
            {
                "Email": "user@mail.com"
            }
        ]
        </code>
    </pre>
</div>

@section Scripts{
    <script src="~/js/fileUploader.js"></script>
}
