@page
@model DownloadPersonalDataModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Download Your Data"];
    ViewData[IdentityAreaConstants.ActivePageKey] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>
