@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData[IdentityAreaConstants.ActivePageKey] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>
