@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IViewLocalizer Localizer
@model AllCoursesViewModel


@foreach (var course in Model.Courses)
{
    <li id="course-@course.Id">
        <a class="dropdown-item"
           asp-area=""
           asp-controller="Course"
           asp-action="Lessons"
           asp-route-courseId="@course.Id">
            @course.Name
        </a>
    </li>
}

<li class="dropdown-item">
    <a asp-area="" asp-controller="Course" asp-action="All" class="dropdown-item">@SharedLocalizer["All"]</a>
</li>
