@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h2 class="text-center text-danger my-4">You don't have access to this resources</h2>
<img class="w-100" src="~/images/no-access.png" alt="Alternate Text" />
