@page
@model ConfirmEmailModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Confirm email"];
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @Localizer["Thank you for confirming your email."]
    </p>
</div>
