@page
@model ForgotPasswordConfirmation
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Please check your email to reset your password."]
</p>

